.wrapper header .lt-item .cst-btn-logo {
  width: 240px;
  margin-left: 75px;
}
@media screen and (max-width: 769px) {
  .wrapper header .lt-item .cst-btn-logo {
      margin-left: 24px;
      width: 140px;
      margin-top: 5px;
  }
}